@import "tailwindcss"; /* main styles */
@import "tailwindcss/preflight" layer(base); /* reset browser styles - all browsers use one style settings now */
@import "tailwindcss/utilities" layer(utilities); /* utilities */

:root {
  --background: oklch(96.91% 0.0068 67.74);
  --foreground: #171717;
  --foreground-2: white;
}

/*
  Directive Tailwind CSS - switch themes, global variable creation and etc
  We can add here variables and then use it through Tailwind CSS classes
  Each variable that start from `--color-..` Tailwind CSS create different classes:
    - Ex: --color-app-color: 'green';
    - Tailwind CSS will created:
      - text-app-color → color: var(--color-app-color);
      - bg-app-color → background-color: var(--color-app-color);
      - border-app-color, fill-app-color and etc.
*/
/*
  @theme inline - override existing in Tailwind CSS variables
  @theme - create new global variables
*/
@theme inline {
  --color-app-background: oklch(96.91% 0.0068 67.74);
  --color-foreground: var(--foreground);
  --color-app-color: var(--color-gray-500);
  /*
    --font-public-sans variable font was created in main layout.tsx
    now we can use it here to override Tailwind CSS default fonts
  */
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-geist-mono);
}

/*
  System theme preference
  If user include inside Windows OS dark theme - browser will react and use this block 
*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  /* The way to apply Tailwind CSS classes inside css. Not recommended. */
  @apply h-full;
}

body {
  background: var(--color-app-background);
  color: var(--foreground);
  font-family: var(--font-public-sans);
}
